apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  labels:
    app: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: backend-python:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5001
          env:
            - name: ERROR_RATE
              value: "0.1"
            - name: SLOW_RATE
              value: "0.2"
            - name: SLOW_SECONDS_MIN
              value: "2"
            - name: SLOW_SECONDS_MAX
              value: "6"